/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 1px solid red;
    background-color: cadetblue;
    padding: 2rem;
}

h1 {
  color: red !important;
  font-weight: bold;
  text-decoration: underline;
  font-size: 64px;
}